:root {
    --sidebar-width: 300px;
    --sidebar-bg: #ffffff;
    --sidebar-hover-bg: #f0f0f0;

    @media(prefers-color-scheme: dark) {
        --sidebar-bg: #121212;
        --sidebar-hover-bg: #1e1e1e;
    }
}

html,
body {
    height: 100%;
}

body,
h1,
p {
    margin: 0;
}