:root {
  --sidebar-width: 300px;
  --sidebar-bg: #ffffff;
  --sidebar-hover-bg: #f0f0f0;

  @media (prefers-color-scheme: dark) {
    --sidebar-bg: #121212;
    --sidebar-hover-bg: #1e1e1e;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
